/* Styling for Task 1 */
.box {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-bottom: 50px;
}

/* Styling for Task 2 */
.ball {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%; 
    
    position: absolute; /* REQUIRED to allow left/top movement */
    top: 200px;
    left: 0px;
}