body{
    height: 100vh;
    margin: 0;
    display:grid;
    grid-template-columns: 0.15fr auto 0.15fr;
    grid-template-rows: 0.2fr auto 0.2fr;
    background-color:rgb(59, 62, 66);

    font-family: 'Courier New', Courier, monospace;
}

.container-circuit{
    grid-row: 2;
    grid-column: 2;
    border: 10px rgb(11, 109, 16) solid;

    display: grid;
    grid-template-columns: 0.1fr auto 0.1fr;
    grid-template-rows: 0.2fr auto 0.2fr;

    background-color: rgb(12, 92, 12);

}

.pin-holes-1{

    margin-top: 10px;
    margin-left: 10px;
    grid-column: 1;
    grid-row: 1;
    width: 80px;
    height: 80px;
    border: 10px rgb(181, 184, 36) solid;
    background-color: rgb(211, 212, 99);
    border-radius: 100%;
}

.pin-holes-2{
    margin-top: 10px;
    margin-right: 10px;
    grid-column: 3;
    grid-row: 1;
    width: 80px;
    height: 80px;
    border: 10px rgb(181, 184, 36) solid;
    background-color: rgb(211, 212, 99);
    border-radius: 100%;
}
.pin-holes-3{
    margin-bottom: 10px;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    grid-column: 1;
    grid-row: 3;
    border: 10px rgb(181, 184, 36) solid;
    background-color: rgb(211, 212, 99);
    border-radius: 100%;
}
.pin-holes-4{
    margin-bottom: 10px;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    grid-column: 3;
    grid-row: 3;
    border: 10px rgb(181, 184, 36) solid;
    background-color: rgb(211, 212, 99);
    border-radius: 100%;
}

.small-pin-hole-1{

    margin-top: 45px;
    margin-left: 50px;
    width: 30px;
    height: 30px;
    grid-column: 2;
    grid-row: 1;

    border: 10px rgb(181, 184, 36) solid;
    background-color: rgb(211, 212, 99); 
    border-radius: 100%;

}

.small-pin-hole-2{

    margin-top: 45px;
    margin-left: 110px;
    width: 30px;
    height: 30px;
    grid-column: 2;
    grid-row: 1;

    border: 10px rgb(181, 184, 36) solid;
    background-color: rgb(211, 212, 99); 
    border-radius: 100%;

}

.small-pin-hole-3{

    margin-top: 45px;
    margin-left: 170px;
    width: 30px;
    height: 30px;
    grid-column: 2;
    grid-row: 1;

    border: 10px rgb(181, 184, 36) solid;
    background-color: rgb(211, 212, 99); 
    border-radius: 100%;

}

.small-pin-hole-4{

    margin-top: 45px;
    margin-left: 230px;
    width: 30px;
    height: 30px;
    grid-column: 2;
    grid-row: 1;

    border: 10px rgb(181, 184, 36) solid;
    background-color: rgb(211, 212, 99); 
    border-radius: 100%;

}

.wire-1{
    margin-top: 45px;
    margin-right: 10px;
    grid-column: 2;
    grid-row: 1;
    z-index: 10;

    width: 100%;
    max-width: 1000px;
    height: 10px;

    justify-self: right;
    box-sizing: border-box;

    border: 10px rgb(90, 163, 61) solid;
    background-color: rgb(78, 160, 91);

}

.wire-2{
    margin-top: 45px;
    margin-left: 20px;
    grid-column: 2;
    grid-row: 3;
    z-index: 10;

    width: 100%;
    max-width: 1000px;
    height: 10px;

    justify-self: left;
    box-sizing: border-box;

    border: 10px rgb(90, 163, 61) solid;
    background-color: rgb(78, 160, 91);

}

.container-frame{
    grid-row: 2;
    grid-column: 2;
    border: 10px rgb(7, 7, 7) solid;
    
    padding: 20px;

    display: flex;
    align-items: stretch;

    background-color: rgb(26, 26, 21);
    
}

.container-for-clock{

    flex-grow: 1;

    width: auto;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    color: rgb(36, 36, 36);

    border: 10px rgb(27, 27, 22) solid;
    background-color: rgb(154, 197, 89) ;
    
    
}

.messageBox{
    padding-left: 40px;
    font-size: 100px;
    font-weight: bold;
}

.time-now{
    padding-left: 40px;
    font-size: 100px;
    font-weight: bold;


}